
<a href="/client/recipes/new">Make a new recipe</a>



<% @recipes.each do |recipe| %>
  <p>title: <a href="/client/recipes/<%= recipe['id'] %>"><%= recipe['title'] %></a></p>
  <p>id: <%= recipe['id'] %></p>
  <p>chef: <%= recipe['chef'] %></p>
  <p>ingredients: <%= recipe['ingredients'] %></p>
  <p>prep_time: <%= recipe['prep_time'] %></p>
  <p>directions: <%= recipe['directions'] %></p>
  <hr>
<% end %>

<%= button_to "New User", "/client/recipes", method: :get %>
