

<a href="/client/recipes/new">Make a new recipe</a>

<%= form_tag "/client/recipes", method: :get do %>
  <input type="text" name="client_search">
  <input type="submit" value="Search for stuff here">
<% end %>


<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe['title'] %></h5>
          <p class="card-text"><%= recipe['directions'] %></p>
          <p>id: <%= recipe['id'] %></p>
          <p>ingredients: <%= recipe['ingedients'] %></p>
          <p>user: <%= recipe['user']['name'] %></p>
          <img style="width:100px;height:100px;" src="<%= recipe['image_url'] %>">
          <p>prep_time: <%= recipe['prep_time'] %></p>
          <a href="/client/recipes/<%= recipe['id'] %>" class="btn btn-primary">Go to the show page</a>
        </div>
      </div>
    </div>
  <% end %>
</div>




<%= button_to "New User", "/client/recipes", method: :get %>
