
<p>This is showing a particular recipe...</p>

<p>id: <%= @recipe['id'] %></p>
<p>title: <%= @recipe['title'] %></p>
<p>chef: <%= @recipe['chef'] %></p>
<p>ingredients: </p>
<ul>
  <% @recipe['formatted']['ingredients'].each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<p>prep_time: <%= @recipe['formatted']['hours_and_minutes'] %></p>
<p>directions:</p>
<ol>
  <% @recipe['formatted']['directions'].each do |direction| %>
    <li>
      <%= direction %>
    </li>
  <% end %>
</ol>

<p><%= @recipe['formatted']['created_at'] %></p>


<p><a href="/client/recipes/<%= @recipe['id'] %>/edit">Edit or delete this recipe</a></p>
