
<p>This is showing a particular recipe...</p>

<p>id: <%= @recipe['id'] %></p>
<p>title: <%= @recipe['title'] %></p>
<p>chef: <%= @recipe['chef'] %></p>
<p>ingredients: <%= @recipe['ingredients'] %></p>
<p>prep_time: <%= @recipe['prep_time'] %></p>
<p>directions: <%= @recipe['directions'] %></p>

<p><a href="/client/recipes/<%= @recipe['id'] %>/edit">Edit or delete this recipe</a></p>
